# Google Sheets API credentials
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYour-Key-Here\n-----END PRIVATE KEY-----"
GOOGLE_SHEETS_CLIENT_EMAIL="example@project.iam.gserviceaccount.com"
GOOGLE_SHEET_ID="1234567890abcdefghijklmnopqrstuvwxyz" 